.button-group {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex; 
    flex-direction: column;
}

.button-group button {
    margin: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    background-color:#4CAF50;
    color: white;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for raised effect */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for effects */
}

.button-group button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

.button-group button:active {
  transform: translateY(2px); /* Pressed effect */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow when pressed */
}

.metadata-container {
    margin-top: 5px;
    padding: 1px; 
}

.metadata-title {
    font-weight:bold;
}

.filterdata-title {
    font-weight: bold;
    padding: 5px;
    margin: 1px;
}

.custom-button {
    background-color: #4CAF50; 
    color: white;
    padding: 8px 8px; 
    margin: 2px;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 13px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s; 
  }
  
  .custom-button:hover {
    background-color: #45a049; 
  }
  
  .custom-button:active {
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  }
