<header>
  <div class="title">EDR Client:</div>
  <div class="description">A test implementation by Hanna Lundström</div>
</header>
<main>
  <div class="left-bar">
    <app-edrcomponent #edrComponent (drawButtonClicked)="mapComponent.onDrawButtonClick()"
    (pointButtonClicked)="mapComponent.onPointButtonClick()"></app-edrcomponent>
    </div>
  <div class="map-container">
    <app-map #mapComponent (rectangleDrawn)="edrComponent.onRectangleDrawn($event)"
    (pointDrawn)="edrComponent.onPointDrawn($event)"></app-map>
    </div>
</main>
<footer>
</footer>
