:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: var(--header-color);
    padding: 3em;
    text-align: center;
    height: 40px;
    flex-shrink: 0;
}
header .title {
    font-size: 28px;
    color: rgba(254, 244, 255, 0.874); 
}
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}
.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 10px;
    overflow-y: auto;
}
.map-container {
    flex-grow: 20;
    position: relative;
}
footer {
    background-color: var(--header-color);
    padding: 0.5em;
    text-align: center;
    height: 40px;
    position: relative;
}

.description {
    color: rgba(254, 244, 255, 0.874); 
    font-size: 20px;
    font-style: italic;
}